<!doctype html>
<html ng-app>
<head>
  <title>Put your title here</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
  

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="assets/css/two.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/nanoscroller.css">
  <script src="assets/js/jquery.nanoscroller.min.js"></script>

  <script>
		
			function init_boot() {
        $('#collapseDiv').on('hide.bs.collapse', function () {
           $('#accordion').removeClass("shad");
        });
        $('#collapseDiv').on('hidden.bs.collapse', function () {
           $(".nano").nanoScroller();
        });
        $('#collapseDiv').on('show.bs.collapse', function () {
          $('#accordion').addClass("shad");
        });
        $('#collapseDiv').on('shown.bs.collapse', function () {
          $(".nano").nanoScroller();
        });
      }

      $(document).ajaxComplete( function() {
        try {
         setTimeout(FB.XFBML.parse);
        } catch(ex) {}
      });

      var map;
      var service;
      var infowindow;

      function log10(val) {
        return Math.log(val) / Math.LN10;
      }

      function initialize() {
        var tokyo = new google.maps.LatLng(35.674956, 139.764633);

        map = new google.maps.Map(document.getElementById('div_Map'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: tokyo,
            zoom: 15
          });

        var request = {
          location: tokyo,
          radius: '5000',
          query: 'hotel'
        };

        service = new google.maps.places.PlacesService(map);
        service.textSearch(request, callback);

        infowindow = new google.maps.InfoWindow();

        $(".nano").nanoScroller();

      }

      function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            var place = results[i];
            createMarker(results[i]);
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent('<p font-family: Anaheim, sans-serif> ' + place.name + '<br>Rating: ' + place.rating + '<br><a href="http://kayak.com" class="LinkButton">book it</a><p>');
          infowindow.open(map, this);
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      function UpdateSize() {
        var bodyheight = $(window).height();
        var bodywidth = $(window).width();
        var innerheight = bodyheight - $("#div_Header").height() - $("#div_Footer").height();
        
        $("#div_Map").height(innerheight);
        $("#div_Map").width (bodywidth - $("#div_Plan").width());
        $("#div_Plan").height(innerheight);

        $(".nano").nanoScroller();
      }

      $(window).resize(function () { 
        UpdateSize();
      });

      $(window).ready(function () { 
        UpdateSize();
      });

      function PlanCtrl($scope) {
        
        $scope.countries = []
        $scope.cities = []

        $scope.load_countries = function() {
          if ($scope.countries.length != 0) {
            var def = new $.Deferred();
            def.resolve();
            return def;
          }
          return $.getJSON('http://api.geonames.org/countryInfoJSON?username=matveyzhuravel', function(data) {
            $.each(data.geonames, function(key, val) {
              $scope.$apply( function() {
                $scope.countries.push(val);
              });
            });
            $(".nano").nanoScroller();
          });
        };

        $scope.load_cities = function(in_country) {
          $scope.cities = [];
          
          return $.getJSON('http://api.geonames.org/citiesJSON?north='+in_country.north+'&south='+in_country.south+'&east='+in_country.east+'&west='+in_country.west+'&maxRows=100&username=matveyzhuravel', function(data) {
            if (data.geonames == undefined) {
              return $scope.load_cities(in_country);
            }
            $.each(data.geonames, function(key, val) {
              $scope.$apply( function() {
                if (in_country.countryCode == val.countrycode) {
                  $scope.cities.push(val);
                }
              });
            });
            $(".nano").nanoScroller();
          });
        };
        
        $scope.itf_get_continents = function() {
          var arr = []
          for (var i = 0; i < $scope.countries.length; i++) {
            var s = $scope.countries[i].continentName;
            if (-1 == arr.indexOf(s)) {
              arr.push(s);
            }
          }
          return arr;
        }
        
        $scope.g_cont_name = ""
        $scope.g_country = ""

        $scope.itf_get_li_class = function(in_name, in_g_name) {
          if (in_g_name == in_name) {
            return "li_chosen";
          }
          return "li_normal";
        }
        $scope.itf_set_cont = function(in_cont_name) {
          $scope.g_cont_name = in_cont_name;
          $('#div_add_country').slideDown('fast');
          /* $scope.$apply(); */
        }
        $scope.itf_set_country = function(in_country) {
          var bounds = new google.maps.LatLngBounds();
          bounds.extend(new google.maps.LatLng(in_country.north, in_country.east));
          bounds.extend(new google.maps.LatLng(in_country.south, in_country.west));
          map.fitBounds(bounds);
          
          $scope.g_country = in_country;
          $scope.itf_show_cities();

          /* $scope.$apply(); */
        }
        $scope.itf_set_city = function(in_city) {
          var bounds = new google.maps.LatLngBounds();
          bounds.extend(new google.maps.LatLng(in_country.north, in_country.east));
          bounds.extend(new google.maps.LatLng(in_country.south, in_country.west));
          map.fitBounds(bounds);
          
          $scope.g_country = in_country;
          $scope.itf_show_cities();

          /* $scope.$apply(); */
        }

        $scope.itf_get_countries = function(in_CountryName) {
          var arr = []
          var re = new RegExp(in_CountryName, 'gi');
          for (var i = 0; i < $scope.countries.length; i++) {
            if (    $scope.countries[i].countryName.match(re)
                && ($scope.countries[i].continentName == $scope.g_cont_name || $scope.g_cont_name == "")) {
              arr.push($scope.countries[i]);
            }
          }
          return arr;
        }
        $scope.itf_get_cities = function(in_CityName) {
          var arr = []
          var re = new RegExp(in_CityName, 'gi');
          for (var i = 0; i < $scope.cities.length; i++) {
            if (    $scope.cities[i].name.match(re)
                &&  $scope.cities[i].countrycode == $scope.g_country.countryCode) {
              arr.push($scope.cities[i]);
            }
          }
          return arr;
        }

        $scope.GetFontSize = function(country) {
          if (country.population == null || country.population == 0) {
            return 5;
          }
          return 5 + 2*log10(country.population);
        }

        $scope.show_continents = function() {

        }


        $scope.opts = { 'tightness':{'value':'1', 'options': [ {'name':'Tight schedule',   'value':'0'}
                                                             , {'name':'Normal',           'value':'1'}
                                                             , {'name':'Easy going',       'value':'2'}]}
                      , 'add_place':{'value':'9', 'options': [ {'name':'Continent',        'value':'0'}
                                                             , {'name':'Country',          'value':'1'}
                                                             , {'name':'City',             'value':'2'}
                                                             , {'name':'Language',         'value':'3'}]}
                      };


        $scope.itf_show_cities = function(in_value) {
          $('#div_loading').appendTo('#div_add_destination').show();
          $scope.load_cities($scope.g_country).then(
            function() {
              $('#div_loading').hide();
              $('#div_add_city').slideDown('fast');
            }
          );
        }
        
        $scope.opts['add_place'].callback = function(in_value) {
          $scope.g_cont_name = "";

          if ($('#div_add_continent').is(":visible") && in_value != '0') {
            $('#div_add_continent').hide();
          }
          if ($('#div_add_country').is(":visible") && in_value != '1') {
            $('#div_add_country').hide();
          }
          if ($('#div_add_city').is(":visible") && in_value != '1') {
            $('#div_add_city').hide();
          }
          switch (in_value) {
            case '0': 
              $('#div_loading').appendTo('#div_add_destination').show();
              $scope.load_countries().then(function() {
                $('#div_loading').hide();
                $('#div_add_continent').slideDown('fast');
              });
              break;

            case '1': 
              $('#div_loading').appendTo('#div_add_destination').show();
              $scope.load_countries().then(function() {
                $('#div_loading').hide();
                $('#div_add_country').slideDown('fast');
              });
              break;

            case '2': 
              $scope.itf_show_cities();
              break;
          }                    
        }

        
        $scope.opt_get = function(in_opt_name) {
          $scope.opt_set(in_opt_name, $scope.opts[in_opt_name].value);
          return $scope.opts[in_opt_name].options;
        }

        $scope.opt_set = function(in_opt_name, in_value) {
          $scope.opts[in_opt_name].value = in_value;
          var n = $scope.opts[in_opt_name].options.length - 1;
          for (var j = 0; j <= n; j++) {
            var s = "option_button";
            if (j == 0) 
              s += " option_button_first";
            if (j == n) 
              s += " option_button_last";
            if ($scope.opts[in_opt_name].options[j].value == $scope.opts[in_opt_name].value) 
              s += " option_button_choosen";

            $scope.opts[in_opt_name].options[j].style = s;
          }
        }

        $scope.opt_click = function(in_opt_name, in_value) {
          $scope.opt_set(in_opt_name, in_value);
          $scope.opts[in_opt_name].callback(in_value);
        }


      }


  </script>


</head>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '458434754263383',                         // App ID from the app dashboard
        channelUrl : '//travprav-s.herokuapp.com/channel.html', // Channel file for x-domain comms
        status     : true,                                      // Check Facebook Login status
        cookie     : true,                                      // enable cookies to allow the server to access the session
        xfbml      : true                                       // Look for social plugins on the page
      });

      // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
      // for any authentication related change, such as login, logout or session refresh. This means that
      // whenever someone who was previously logged out tries to log in again, the correct case below 
      // will be handled. 

      FB.Event.subscribe('auth.authResponseChange', function(response) {
        // Here we specify what we do with the response anytime this event occurs. 
        if (response.status === 'connected') {
          // The response object is returned with a status field that lets the app know the current
          // login status of the person. In this case, we're handling the situation where they 
          // have logged in to the app.
          testAPI();
        } else if (response.status === 'not_authorized') {
          // In this case, the person is logged into Facebook, but not into the app, so we call
          // FB.login() to prompt them to do so. 
          // In real-life usage, you wouldn't want to immediately prompt someone to login 
          // like this, for two reasons:
          // (1) JavaScript created popup windows are blocked by most browsers unless they 
          // result from direct interaction from people using the app (such as a mouse click)
          // (2) it is a bad experience to be continually prompted to login upon page load.
          FB.login();
        } else {
          // In this case, the person is not logged into Facebook, so we call the login() 
          // function to prompt them to do so. Note that at this stage there is no indication
          // of whether they are logged into the app. If they aren't then they'll see the Login
          // dialog right after they log in to Facebook. 
          // The same caveats as above apply to the FB.login() call here.
          FB.login();
        }
      });
    };
    
    // Load the SDK asynchronously
    (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is successful. 
    // This testAPI() function is only called in those cases. 
    function testAPI() {
      console.log('Welcome! Fetching your information...');
      FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
      });
    }

  </script>

  <div id="div_loading" style="display:none;text-align:center;padding:5px">
    <img src="//img.cdn.tl/loading1.gif">
  </div>

  <div>
  <div id="div_Header" class="Header">
      Headr!!
      <fb:login-button show-faces="false" width="200" max-rows="1"></fb:login-button>
  </div>
  <div class="Plan">
    <div id="div_Plan" class="nano has-scrollbar">
      <div class="content" ng-controller="PlanCtrl">
      Here the data!!
        <br>
        <div id="div_settings" class="selector">
          <a ng-repeat="opt in opt_get('tightness')" href="" class="{{opt.style}}" ng-click="opt_set('tightness', opt.value)">
            {{opt.name}}
          </a>
        </div>
        <br>
        <div id="div_add_destination" class="selector">
          <div>
            Add a destination: 
              <a ng-repeat="opt in opt_get('add_place')" href="" class="{{opt.style}}" ng-click="opt_click('add_place', opt.value)">
                {{opt.name}}
              </a>
          </div>  
          <div style="height=100%">

          <div style="overflow:auto;">

            <div id="div_add_continent" style="display:none;posision:relative;float:left;width:120px;" class="!sel_cont"> 
              <a  href="" 
                  ng-repeat="cont_name in itf_get_continents()" 
                  ng-click="itf_set_cont(cont_name)" 
                  class="{{itf_get_li_class(cont_name, g_cont_name)}}">
                {{cont_name}}<br>
              </a>
            </div>

            <div id="div_add_country" style="display:none;posision:relative;float:left;width:170px;" class="!sel_cntry"> 
              <input type="text" ng-model="in_CountryName" placeholder="Country name...">
              <div class="!content" style="max-height:300px;overflow:auto;">
                <a  href="" 
                    ng-repeat="country in itf_get_countries(in_CountryName)" 
                    ng-click="itf_set_country(country)"
                    class="{{itf_get_li_class(country.countryName, g_country.countryName)}}">
                  {{country.countryName}}<br>
                </a>
              </div>
            </div>

            <div id="div_add_city" style="display:none;posision:relative;float:left;width:150px;" class="!sel_cntry"> 
              <input type="text" ng-model="in_CityName" placeholder="City name...">
              <div style="max-height:300px;overflow:auto;">
                <a  href="" 
                    ng-repeat="city in itf_get_cities(in_CityName)" 
                    ng-click="itf_set_city(country)"
                    class="{{itf_get_li_class(city.name, g_city.name)}}">
                  {{city.name}}<br>
                </a>
              </div>
            </div>

          </div>

          </div>
        </div>

        <div class="panel-group shad" id="accordion" style="margin:10px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseDiv">
                  <span class="glyphicon glyphicon-collapse-down"></span>
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapseDiv" class="panel-collapse collapse in">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>


        <script> init_boot(); </script>


      
      </div>
    </div>
  </div>
  <div class="Map">
      <div id="div_Map" style="width: 100px; height: 100px;"></div> 
  </div>
  <div id="div_Footer" class="Footer">
      Copywright (c) 2013
  </div>
 </div>

</body>
</html>
